body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: hsla(64, 92%, 50%, 0.753);
  color: #333;
}
h2,
h1,
nav {
  text-align: center;
  color: #222;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
img {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}
p {
  text-align: center;
  padding: 20;
  margin: 20;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
